In [1]:
import pandas

In [7]:
weather=pandas.read_html('http://www.bom.gov.au/jsp/ncc/cdio/weatherData/av?p_nccObsCode=136&p_display_type=dailyDataFile&p_startYear=2016&p_c=-872837832&p_stn_num=066062')

In [8]:
weather

[             2016    Jan   Feb    Mar    Apr  May    Jun    Jul    Aug   Sep  \
 0           Graph    NaN   NaN    NaN    NaN  NaN    NaN    NaN    NaN   NaN
 1             1st    0.0   0.2    0.0    0.0  2.8   29.4    0.0    0.0   0.0
 2             2nd    0.0   2.0    0.0    0.0  0.0    1.0    0.0    0.4  14.4
 3             3rd    0.0   0.0    0.0    0.0  0.0    0.2    0.0   24.8  23.4
 4             4th   15.0  10.8    0.0   94.4  0.0   64.4    0.0   61.0   0.0
 5             5th   34.2   3.6    0.0    6.4  0.0   93.8    4.8    4.0   0.0
 6             6th   51.4   1.8    0.0    0.0  0.0   68.4    0.2    1.8   0.0
 7             7th   41.4   0.0    0.0    0.2  0.0    0.0   29.4    0.6   0.0
 8             8th    0.4   0.0    0.0    0.0  0.0    0.0   22.4    0.0   0.0
 9             9th    0.0   0.0    0.0    0.4  1.6    0.2    2.2    0.0   0.0
 10           10th    0.0   0.2    0.0    0.0  0.0    0.2    1.0    0.0   1.2
 11           11th    0.0   0.0    0.0    0.0  0.0    0.0    0.0    0.0   0.0
 12           12th    0.0   0.0    0.0    8.2  0.0    0.0    0.2    0.0   0.0
 13           13th    0.0   0.0    0.0    0.6  0.0    0.0    0.0    0.0   0.0
 14           14th    0.0   0.0    0.0    0.6  0.0    0.0    0.0    0.0   5.8
 15           15th   34.0   0.0   16.8    1.0  0.0    0.0    0.0    0.0   0.0
 16           16th    5.4   0.0   23.0    0.0  0.0    0.0    0.0    0.0   0.0
 17           17th    0.0   0.0   13.6    0.0  0.0    0.0    0.8    0.0   0.0
 18           18th    0.0   0.0    3.4    2.0  0.0    5.0    0.0    0.0   0.0
 19           19th    0.0   0.0    4.8   15.0  0.0    0.4    0.2    0.0  13.4
 20           20th    0.0   0.0    0.2   15.8  0.0   38.8   17.0    0.4   0.0
 21           21st    0.0   6.0   61.2    0.0  0.0    0.0   20.4    0.0   0.0
 22           22nd   30.6   1.2   25.4    0.0  0.0    0.0    0.0    0.0   2.0
 23           23rd   13.0   0.0    1.6    6.6  0.0    0.0    6.0    1.8   0.6
 24           24th    0.0   0.0    0.0    3.8  0.0    0.0    0.0    2.4   0.0
 25           25th    0.0   0.0    0.0    0.0  0.0    0.6    0.0   52.8   3.4
 26           26th    0.0   0.0    0.0    0.0  0.2    0.0    0.0    0.0   4.0
 27           27th    2.2   0.0    0.2    0.0  0.2    0.0    0.0    1.4   0.0
 28           28th    0.4   0.0   34.8    0.0  0.0    2.4    0.0    0.0   0.0
 29           29th    0.0   0.0    0.0    0.0  2.2    0.2    0.0    0.0   1.4
 30           30th    9.0   NaN    7.0    0.0  0.2    0.0    0.0    0.0   0.4
 31           31st   12.8   NaN    1.2    NaN  0.0    NaN    0.0    0.0   NaN
 32  Highest Daily   51.4  10.8   61.2   94.4  2.8   93.8   29.4   61.0  23.4
 33  Monthly Total  249.8  25.8  193.2  155.0  7.2  305.0  104.6  151.4  70.0

      Oct   Nov   Dec
 0    NaN   NaN   NaN
 1    0.0   0.0   0.0
 2    0.0   0.0   0.2
 3    0.0   0.0   0.0
 4    0.0   0.0   0.0
 5    0.0   0.0   0.4
 6    0.0   0.0   3.2
 7    0.0   0.0   7.8
 8    0.2   0.0   0.2
 9    0.0   2.0   0.4
 10   0.0  10.2   0.0
 11   3.8   0.0   0.0
 12   0.0   9.0   0.0
 13   4.4   0.0   0.0
 14   0.2   0.0   0.0
 15   0.0   0.6   8.2
 16   0.0   0.0  32.6
 17   0.0   0.0  10.4
 18   3.0   0.0   0.0
 19   0.2   0.0   0.0
 20   0.0   0.0   0.0
 21   0.0   0.0   0.0
 22  11.8   0.0   0.0
 23   0.6   0.0   0.0
 24   0.8   5.4   0.0
 25   0.0   0.0   1.6
 26   0.0   0.0   0.0
 27   0.0   0.0   0.0
 28   1.4   0.0   0.0
 29   3.2   0.0   0.0
 30   0.2   0.0   0.0
 31   1.6   NaN   0.0
 32  11.8  10.2  32.6
 33  31.4  27.2  65.0  ,
        Statistic             Jan            Feb             Mar  \
 0           Mean           102.2          117.0           129.6
 1         Median            79.8           92.3            99.1
 2  Highest Daily  191.017th 1988  243.63rd 1990  280.728th 1942

               Apr             May             Jun            Jul  \
 0           128.8           119.2           133.0           97.1
 1            98.8            90.8           101.8           74.3
 2  191.029th 1860  212.328th 1889  150.611th 1991  198.17th 1931

              Aug             Sep             Oct            Nov            Dec
 0           81.1            68.4            76.4           83.8           77.6
 1           54.9            52.5            55.4           66.9           59.7
 2  327.66th 1986  144.510th 1879  161.813th 1902  234.69th 1984  126.09th 1970  ]

In [9]:
weather1=weather[0]
weather1

,2016,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Graph,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1st,0.0,0.2,0.0,0.0,2.8,29.4,0.0,0.0,0.0,0.0,0.0,0.0
2,2nd,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.4,14.4,0.0,0.0,0.2
3,3rd,0.0,0.0,0.0,0.0,0.0,0.2,0.0,24.8,23.4,0.0,0.0,0.0
4,4th,15.0,10.8,0.0,94.4,0.0,64.4,0.0,61.0,0.0,0.0,0.0,0.0
5,5th,34.2,3.6,0.0,6.4,0.0,93.8,4.8,4.0,0.0,0.0,0.0,0.4
6,6th,51.4,1.8,0.0,0.0,0.0,68.4,0.2,1.8,0.0,0.0,0.0,3.2
7,7th,41.4,0.0,0.0,0.2,0.0,0.0,29.4,0.6,0.0,0.0,0.0,7.8
8,8th,0.4,0.0,0.0,0.0,0.0,0.0,22.4,0.0,0.0,0.2,0.0,0.2
9,9th,0.0,0.0,0.0,0.4,1.6,0.2,2.2,0.0,0.0,0.0,2.0,0.4
10,10th,0.0,0.2,0.0,0.0,0.0,0.2,1.0,0.0,1.2,0.0,10.2,0.0
11,11th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.8,0.0,0.0
12,12th,0.0,0.0,0.0,8.2,0.0,0.0,0.2,0.0,0.0,0.0,9.0,0.0
13,13th,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.0,0.0,4.4,0.0,0.0
14,14th,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.0,5.8,0.2,0.0,0.0
15,15th,34.0,0.0,16.8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,8.2
16,16th,5.4,0.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.6
17,17th,0.0,0.0,13.6,0.0,0.0,0.0,0.8,0.0,0.0,0.0,0.0,10.4
18,18th,0.0,0.0,3.4,2.0,0.0,5.0,0.0,0.0,0.0,3.0,0.0,0.0
19,19th,0.0,0.0,4.8,15.0,0.0,0.4,0.2,0.0,13.4,0.2,0.0,0.0
20,20th,0.0,0.0,0.2,15.8,0.0,38.8,17.0,0.4,0.0,0.0,0.0,0.0
21,21st,0.0,6.0,61.2,0.0,0.0,0.0,20.4,0.0,0.0,0.0,0.0,0.0
22,22nd,30.6,1.2,25.4,0.0,0.0,0.0,0.0,0.0,2.0,11.8,0.0,0.0
23,23rd,13.0,0.0,1.6,6.6,0.0,0.0,6.0,1.8,0.6,0.6,0.0,0.0
24,24th,0.0,0.0,0.0,3.8,0.0,0.0,0.0,2.4,0.0,0.8,5.4,0.0
25,25th,0.0,0.0,0.0,0.0,0.0,0.6,0.0,52.8,3.4,0.0,0.0,1.6
26,26th,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,4.0,0.0,0.0,0.0
27,27th,2.2,0.0,0.2,0.0,0.2,0.0,0.0,1.4,0.0,0.0,0.0,0.0
28,28th,0.4,0.0,34.8,0.0,0.0,2.4,0.0,0.0,0.0,1.4,0.0,0.0
29,29th,0.0,0.0,0.0,0.0,2.2,0.2,0.0,0.0,1.4,3.2,0.0,0.0
30,30th,9.0,NaN,7.0,0.0,0.2,0.0,0.0,0.0,0.4,0.2,0.0,0.0
31,31st,12.8,NaN,1.2,NaN,0.0,NaN,0.0,0.0,NaN,1.6,NaN,0.0
32,Highest Daily,51.4,10.8,61.2,94.4,2.8,93.8,29.4,61.0,23.4,11.8,10.2,32.6
33,Monthly Total,249.8,25.8,193.2,155.0,7.2,305.0,104.6,151.4,70.0,31.4,27.2,65.0

In [18]:
weather2=weather1.tail(1)
weather2

,2016,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
33,Monthly Total,249.8,25.8,193.2,155.0,7.2,305.0,104.6,151.4,70.0,31.4,27.2,65.0

In [20]:
weather2.sum(1)

33    1385.6
dtype: float64